[ req ]
default_bits        = 2048
distinguished_name  = req_distinguished_name
req_extensions      = v3_req
x509_extensions     = v3_req
prompt              = no

[ req_distinguished_name ]
countryName         = AR
stateOrProvinceName = Buenos Aires
localityName        = Bernal
organizationName    = Linepixer Developments
organizationalUnitName = Web Development Section
commonName          = Linepixer Website

[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = localhost
IP.1 = 127.0.0.1