{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="left-panel">
        <img src="{% static 'accounts/img/onda.svg' %}" alt="Decoración curva" class="onda">
        <div class="branding">
            <h1>LINEPIXER<br>WEBSITE</h1>
            <p>Diseñar con seguridad<br>es construir con conciencia.</p>
        </div>
    </div>
</body>
</html>